In [1]:
import pandas as pd

In [2]:
file = "./Resources/mwe-2018complete.xlsx"

In [3]:
wagedf = pd.read_excel(file, sheet_name = "MWE_2018")
wagedf

,Series ID,Series title,Area code,Area level,Area text,Occupation\ncode,Occupation text,Job characteristic\ncode,Job characteristic text,Work level\ncode,Work level text,Average hourly wage,Relative standard error,Average hourly wage footnote,Relative standard error footnote
0,WMU00000001020000001100000006,Average hourly wage for management occupations...,0,National,National,110000,Management Occupations,0,All workers,6,Level 06,16.15,4.1,NaN,NaN
1,WMU00000001020000001100000007,Average hourly wage for management occupations...,0,National,National,110000,Management Occupations,0,All workers,7,Level 07,23.57,5.8,NaN,NaN
2,WMU00000001020000001100000008,Average hourly wage for management occupations...,0,National,National,110000,Management Occupations,0,All workers,8,Level 08,28.11,3.1,NaN,NaN
3,WMU00000001020000001100000009,Average hourly wage for management occupations...,0,National,National,110000,Management Occupations,0,All workers,9,Level 09,35.76,2.0,NaN,NaN
4,WMU00000001020000001100000010,Average hourly wage for management occupations...,0,National,National,110000,Management Occupations,0,All workers,10,Level 10,39.52,3.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468309,WMU56000071020000005370622503,"Average hourly wage for laborers and freight, ...",5600007,Nonmetro area,Eastern Wyoming nonmetropolitan area,537062,"Laborers and Freight, Stock, and Material Move...",25,Full-time,3,Level 03,23.53,4.0,NaN,NaN
468310,WMU56000071020000005370622600,"Average hourly wage for laborers and freight, ...",5600007,Nonmetro area,Eastern Wyoming nonmetropolitan area,537062,"Laborers and Freight, Stock, and Material Move...",26,Part-time,0,All levels,15.02,9.9,NaN,NaN
468311,WMU56000071020000005370622601,"Average hourly wage for laborers and freight, ...",5600007,Nonmetro area,Eastern Wyoming nonmetropolitan area,537062,"Laborers and Freight, Stock, and Material Move...",26,Part-time,1,Level 01,13.53,6.7,NaN,NaN
468312,WMU56000071020000005370622602,"Average hourly wage for laborers and freight, ...",5600007,Nonmetro area,Eastern Wyoming nonmetropolitan area,537062,"Laborers and Freight, Stock, and Material Move...",26,Part-time,2,Level 02,15.34,9.6,NaN,NaN
468313,WMU56000071020000005370622700,"Average hourly wage for laborers and freight, ...",5600007,Nonmetro area,Eastern Wyoming nonmetropolitan area,537062,"Laborers and Freight, Stock, and Material Move...",27,Time-based pay,0,All levels,17.04,4.6,NaN,NaN

In [4]:
wagedfStates = wagedf[wagedf['Area level'] == 'State area']
wagedfStates

,Series ID,Series title,Area code,Area level,Area text,Occupation\ncode,Occupation text,Job characteristic\ncode,Job characteristic text,Work level\ncode,Work level text,Average hourly wage,Relative standard error,Average hourly wage footnote,Relative standard error footnote
302323,WMU01000001020000001100000007,Average hourly wage for management occupations...,100000,State area,Alabama,110000,Management Occupations,0,All workers,7,Level 07,21.88,7.9,NaN,NaN
302324,WMU01000001020000001100000008,Average hourly wage for management occupations...,100000,State area,Alabama,110000,Management Occupations,0,All workers,8,Level 08,25.82,3.4,NaN,NaN
302325,WMU01000001020000001100000009,Average hourly wage for management occupations...,100000,State area,Alabama,110000,Management Occupations,0,All workers,9,Level 09,33.79,1.8,NaN,NaN
302326,WMU01000001020000001100000010,Average hourly wage for management occupations...,100000,State area,Alabama,110000,Management Occupations,0,All workers,10,Level 10,36.32,7.5,NaN,NaN
302327,WMU01000001020000001100000011,Average hourly wage for management occupations...,100000,State area,Alabama,110000,Management Occupations,0,All workers,11,Level 11,49.23,5.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466849,WMU56000001020000005370642601,"Average hourly wage for packers and packagers,...",5600000,State area,Wyoming,537064,"Packers and Packagers, Hand",26,Part-time,1,Level 01,9.22,12.7,NaN,NaN
466850,WMU56000001020000005370642700,"Average hourly wage for packers and packagers,...",5600000,State area,Wyoming,537064,"Packers and Packagers, Hand",27,Time-based pay,0,All levels,11.04,7.4,NaN,NaN
466851,WMU56000001020000005370812400,Average hourly wage for refuse and recyclable ...,5600000,State area,Wyoming,537081,Refuse and Recyclable Material Collectors,24,Nonunion,0,All levels,17.81,3.4,NaN,NaN
466852,WMU56000001020000005370812500,Average hourly wage for refuse and recyclable ...,5600000,State area,Wyoming,537081,Refuse and Recyclable Material Collectors,25,Full-time,0,All levels,17.91,3.4,NaN,NaN
466853,WMU56000001020000005370812700,Average hourly wage for refuse and recyclable ...,5600000,State area,Wyoming,537081,Refuse and Recyclable Material Collectors,27,Time-based pay,0,All levels,17.86,3.4,NaN,NaN

In [5]:
wagedfStates['Average_hourly_wage'] = wagedfStates['Average hourly wage']
wageddfStates_conv = wagedfStates[~wagedfStates.Average_hourly_wage.str.contains("-")]
del wageddfStates_conv['Area code']

In [6]:
average_hourly = []
area_code = []
for x in wageddfStates_conv['Average_hourly_wage']:
    average_hourly.append(float(x))

In [7]:
wageddfStates_conv['Average_hourly'] = average_hourly

In [8]:
wagedfGrouped = pd.DataFrame(wageddfStates_conv.groupby(['Area text', 'Occupation text']).mean())
wagedfGrouped_unstacked = wagedfGrouped.unstack(level=-1)
wagedfGrouped_unstacked = wagedfGrouped_unstacked.stack().reset_index()
wagedfGrouped_unstacked

,Area text,Occupation text,Occupation\ncode,Job characteristic\ncode,Work level\ncode,Average hourly wage footnote,Relative standard error footnote,Average_hourly
0,Alabama,Accountants and Auditors,132011.0,16.777778,7.111111,NaN,NaN,31.558889
1,Alabama,Administrative Services Managers,113011.0,20.200000,6.400000,NaN,NaN,47.792000
2,Alabama,Amusement and Recreation Attendants,393091.0,25.500000,0.000000,NaN,NaN,9.960000
3,Alabama,Architectural and Civil Drafters,173011.0,25.333333,0.000000,NaN,NaN,25.426667
4,Alabama,Architecture and Engineering Occupations,170000.0,15.066667,7.866667,NaN,NaN,38.254667
...,...,...,...,...,...,...,...,...
10459,Wyoming,"Transportation, Storage, and Distribution Mana...",113071.0,25.333333,0.000000,NaN,NaN,44.210000
10460,Wyoming,Waiters and Waitresses,353031.0,18.285714,1.000000,NaN,NaN,10.754286
10461,Wyoming,Water and Wastewater Treatment Plant and Syste...,518031.0,26.000000,0.000000,NaN,NaN,25.350000
10462,Wyoming,Web Developers,151134.0,25.333333,0.000000,NaN,NaN,30.210000
10463,Wyoming,"Welders, Cutters, Solderers, and Brazers",514121.0,20.200000,2.400000,NaN,NaN,30.570000

In [9]:
final_df = wagedfGrouped_unstacked[['Occupation text', 'Average_hourly']]
final_df['Area_text'] = wagedfGrouped_unstacked['Area text']
final_df

,Occupation text,Average_hourly,Area_text
0,Accountants and Auditors,31.558889,Alabama
1,Administrative Services Managers,47.792000,Alabama
2,Amusement and Recreation Attendants,9.960000,Alabama
3,Architectural and Civil Drafters,25.426667,Alabama
4,Architecture and Engineering Occupations,38.254667,Alabama
...,...,...,...
10459,"Transportation, Storage, and Distribution Mana...",44.210000,Wyoming
10460,Waiters and Waitresses,10.754286,Wyoming
10461,Water and Wastewater Treatment Plant and Syste...,25.350000,Wyoming
10462,Web Developers,30.210000,Wyoming
10463,"Welders, Cutters, Solderers, and Brazers",30.570000,Wyoming

In [23]:
import numpy as np
state_list = final_df['Area_text'].tolist()
occupation_list = final_df['Occupation text'].tolist()
average_list = final_df['Average_hourly'].tolist()

state_unique_list = list(set(state_list))
print(state_unique_list)

['Oregon', 'New Hampshire', 'Virginia', 'Pennsylvania', 'Mississippi', 'Delaware', 'Illinois', 'Arizona', 'Ohio', 'Michigan', 'West Virginia', 'Oklahoma', 'Colorado', 'North Dakota', 'Maryland', 'Wyoming', 'Nebraska', 'North Carolina', 'Kansas', 'Florida', 'Hawaii', 'Idaho', 'Montana', 'Rhode Island', 'Connecticut', 'Wisconsin', 'New Jersey', 'Maine', 'Alaska', 'Washington', 'Utah', 'Massachusetts', 'Louisiana', 'Alabama', 'Minnesota', 'Iowa', 'Indiana', 'Texas', 'New Mexico', 'Tennessee', 'Vermont', 'California', 'Nevada', 'Arkansas', 'Kentucky', 'New York', 'Georgia', 'South Dakota', 'Missouri', 'South Carolina', 'District of Columbia']

In [22]:
[f'{{name: {state}}}' for state in state_list for occupation in occupation_list for average in average_list]

me: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alabama}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Alaska}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arizona}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: Arkansas}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: California}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 '{name: Colorado}',
 ...]